.fc .fc-toolbar-title {
    color: #723056;
}

.fc .fc-button-primary:not(:disabled):active,
.fc .fc-button-primary:not(:disabled).fc-button-active {
    background-color: #73436D;
}

.fc .fc-button-group>.fc-button {
    color: #723056;
    background-color: #E5E6E9;
}

.fc .fc-button-primary {
    background-color: #73436D;
}